@import '../../assets/scss/main.module.scss';

.Corner {
  width: 2em;
  height: 2em;
  border: 1px dashed $middle;
  display: flex;
  align-self: flex-start;
  margin-top: 1.6em;

  .innerCorner {
    width: 25%;
    height: 25%;
    background-color: $secondary;
  }
}
