.Background {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  .big {
    width: 70vmax;
    height: 70vmax;
    left: -20vmin;
    top: -20vmin;
    position: fixed;
    background: rgba(255, 255, 255, 0.07);
    pointer-events: none;
  }

  .small {
    width: 30vmin;
    height: 30vmin;
    position: fixed;
    background: rgba(255, 255, 255, 0.07);
    left: 75%;
    top: 10%;
  }
}
